.popupWrapper {
    display: grid;
    width: 100%;
    margin: 0 270px;
    border: 2px solid #bbbbbb;
    border-radius: 20px;
    background-color: white;
    height: 70%;
    font-family: 'Courier New', Courier, monospace;
}

.popupImg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.popupCommonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popupCommonWrapper h1 {
    color: #7e57c2;
}

.popupCommonWrapper h2 {
    text-align: center;
    color: #6f6e6e;
}

.popupCommonWrapper span {
    color: #7e57c2;
}

.tryAgain {
    background-color: white;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
    padding: 10px 5px;
    width: 170px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: #555555;
    outline: none;
    margin-top: 25px;
}