@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {

    font-family: 'Courier New', Courier, monospace;
    background-color: #f3f3f3;
    margin: 0 auto;
    width: 80%;
    min-width:800px;
    font-size:20pt;
    font-weight:bold;
  }
  
  

  .main {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(2, 50%);
    height: 95vh;
    /* justify-content: space-evenly; */
  }

.question {
  padding: 20px;
  background-color: #d9d2e9ff;
  border: 4px solid #fff;

}
.question pre{
    margin-top: 100px;
    padding: 10px;
    font-size:16pt;
    background-color: white!important;
    border: 4px solid #cccccc!important;
    border-radius: 15px!important;
}

.keyword { color: #9900ff; font-weight: bold;}
.number { color: orange}
.punctuation, .operator { color: darkblue}
.plain { color: black}
.token-line {color: none; padding: 3px;}


.answer {
  display:flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 4px solid #d9d2e9ff;
  font-size: 15pt;
}

.answer > div {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  
  margin-top: 30px;
  
}
.answer > div > input{
  width: 20px;
  height: 20px;
  margin-right: 18px;
  
}

.answer > div > label{
  width: 450px;
  position: relative;
}

/*
.answer > div > label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 22px;
  height: 22px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #7e57c2;
}
.answer > div > label:after {
content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #7e57c2;
  border-left: 2px solid #7e57c2;
  -webkit-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 12px;
  left: 10px;
}
.answer > div > input[type="checkbox"]:checked ~ label::before {
  color: #7e57c2;
}


.answer > div > label {
  min-height: 34px;
  display: block;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  vertical-align: sub;
}
.answer > div > label span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.answer > div > input[type="checkbox"]:focus + label::before {
  outline: 0;
}*/