.linear ::before
{
    content: "";
    position: absolute;
    width: 1.5px;
    height: 50px;
    background-color: #c1c0c0;
    top:-53px;

}

.makeStyles-root-1
{
    border: 1px solid #c1c0c0 !important;

}

