.linear ::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 45px;
    background-color: #bbbbbb;
    top: -45px;
}

.small {
    border: 1.5px solid #bbbbbb;
    width: 20%;
}

.makeStyles-root-1 {
    border: 1.5px solid #bbbbbb !important;
    height: 48px;
}