.container {

  width: 100%;
  height: 280px;
  margin-top: 80px;

  

 
}
.label{
 font-size: 30px;
  width: 220px;
  display: inline-block;

}
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: darkgrey;
  font-size: 50px;
}
.cngpasswordlabel{


  width: 40%;
  height: 60px;
  margin-top: 40px;
  border-radius: 5px;
  border:1px solid purple;
  cursor: none;
  font-size: larger;
  margin-left: 100px;
 
  }

form button{

  width: 40%;
  height: 60px;
  margin-top: 40px;
  border-radius: 5px;
  border:1px solid purple;
  color: blueviolet;
 margin-left: 320px;
  font-size: larger;

}

