.checkField {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: -12px;
  font-size: 14px;
  color: #555555;
}

.secondInnerCheckField {
  display: flex;
  justify-content: flex-end;
}

.checkField a {
  text-decoration: none;
  color: inherit;
}

.checkField a:hover {
  color: #7e57c2;
}
