.checkField {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #555555;
}

.firstInnerCheckField {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.firstInnerCheckField div {
    max-width: max-content;
}

.secondInnerCheckField {
    display: flex;
    justify-content: flex-end;
}

.checkField a {
    text-decoration: none;
    color: inherit;
}

.checkField a:hover {
    color: #7e57c2;
}