.checkField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: -35px;
    font-size: 14px;
    color: #555555;
}

.firstInnerCheckField {
    display: flex;
    align-items: center;
}

.firstInnerCheckField input {
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
}

.secondInnerCheckField {
    display: flex;
    justify-content: flex-end;
}

.checkField a {
    text-decoration: none;
    color: inherit;
}

.checkField a:hover {
    color: #7e57c2;
}