.questionWrapper {
  border-radius: 15px;
  margin-top: 120px;
  padding: 15px;
  box-shadow: 5px 5px 25px rgba(0,0,0,.5);
  overflow-y: scroll;
  height: 70%;
  width: 80%;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 20px 0;
}

.selectsWrapper {
  display: flex;
  justify-content: space-between;
}

.filters select {
width: 130px;
padding: 11px;
border: 1.5px solid #bbbbbb;
border-radius: 5px;
color: #757575;
font-family: 'Courier New', Courier, monospace;
font-size: 17px;
letter-spacing: 0.02857em;
outline: none;
margin-left: 10px;
}

.filters input::placeholder {
  color: #bbbbbb;
}

select:hover {
  border-color: #555555;
  color: #555555;
  font-weight: bold;
  cursor: pointer;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.buttonsWrapper button {
  margin-right: 10px;
}

.createQuiz, .selectAll, .deleteAll {
  width: 130px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  color: #555555;
  outline: none;
  border: none;
  padding: 11px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  background-color: rgba(255,255,255,0.95);
}

.createQuiz { width: 150px!important; }

.questions {
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.questionItem {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
    padding: 5px 15px;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
    background-color: #fff;
}

.questionItemLi {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 5px 10px 5px;
}

.questionItemLi select:hover {
    border-color: #555555;
    color: #555555;
    font-weight: bold;
}

.inputWrapper {
    display: flex;
    flex-grow: 2;
    align-items: center;
}

.questionItemInput {
    width: 90%;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: bold;
    color: #555555;
    outline: none;
}

.questionItemInput::placeholder {
  color: #bbbbbb;
}

.questionItemLi select {
    width: 130px;
    padding: 5px;
    margin-right: 10px;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
    color: #757575;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    letter-spacing: 0.02857em;
    outline: none;
}

select .selected {
    background-color: #dedede;

}

.tick {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    margin-left: 10px;
}

.answersWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}

.disappeared {
  display: none;
}

.appeared {
  display: inline-flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 19px;
  color: #555555;
  font-weight: bold;
}

.questionItem-exit-active {
    animation: questionItem 800ms;
  }
  
.questionItem-enter-active {
    animation: questionItem 800ms ease-in alternate-reverse;
}
  
@keyframes questionItem {
  0% {
    opacity: 1;
  }
  
  30% {
    opacity: .7;
    transform: translateX(30px);
  }
  
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@media (max-width: 950px) {
  .appeared, .questionItemInput {
    font-size: 15px;
    width: min-content;
  }

  .questionItemLi select {
    width: 90px;
    font-size: 13px;
  }
}