.header {
    position: absolute;
    left: 0; 
    right: 0;
    height: 92px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: white;
    animation: 800ms ease-out 0s 1 slideInFromAboveAdm;
}

.logoAdmin {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px 6px #F5F5F5;
    margin-left: 14px;
  }

.logout {
    background-color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 5px;
    height: 40px;
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: #555555;
    box-shadow: 2px 2px 2px #d1d1d1;
    outline: none;
    margin-right: 25px;
    cursor: pointer;
}

.sidebar-left{
    position:absolute;
    left:0; 
    top:92px; 
    bottom: 0;
    width: 250px;
    padding: 0 20px;
    animation: 800ms ease-out 0s 1 slideInFromLeftAdm;
    display: flex;
    flex-direction: column;
}

.sidebar-left .linear ::before {
  background-color: #fff !important;
}

.sidebar-left .makeStyles-root-1 {
  border: 1.5px solid #fff !important;
}

.sidebar-left .makeStyles-root-1:hover {
  color: #fff;
}

.mainAdmin{
    position: absolute;
    left:290px; 
    top:102px; 
    right:0;
    bottom:0;
    padding:50px;
    animation: 800ms ease-out 0s 1 slideInFromRightAdm;
}

.footer{
    clear:both;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

.sidebar-left, .mainAdmin{
    min-height: 800px;				
}

.addForm {

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

.row input, textarea {
    outline: none;
}

.pointer {
    cursor: pointer;
}

.red{
    color: red;
}

@keyframes slideInFromLeftAdm {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRightAdm {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
  
@keyframes slideInFromAboveAdm {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    35% {
      opacity: 0.5;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.rotate-active{
animation: spin 1s linear infinite;
}

.rotate-exit.rotate-exit-active{
    opacity:1;
}

@keyframes spin {
  100% {
    transform: rotatey(360deg);
  }
}

.settingsWrapper {
  margin-top: 3px;
  border: 1.5px solid white;
  border-radius: 5px;
}

.settingsButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 5px;
  outline: none;
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  text-shadow: none;
  margin-top: 50px;
}

.settingsContent {
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 2px;
}

.themeSelect {
  background-color: transparent;
  width:100%;
  padding: 10px;
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  text-align: center;
  text-align-last: center;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
}

.themeSelect:hover {
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.settingsContent button {
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  text-shadow: none;
  border-radius: 3px;
  outline: none;
  font-weight: normal;
  margin-top: 2px;
}

.settingsContent button:hover {
  font-weight: bold;
  color: #555555;
  cursor: pointer;
}

