.header {
    position: absolute;
    left: 0; 
    right: 0;
    height: 92px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: white;
    animation: 800ms ease-out 0s 1 slideInFromAboveAdm;
}

.quizesWrapper {
  margin: 50px 50px;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 5px 5px 25px rgba(0,0,0,.5);
}

.logoAdmin {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 2px 2px 6px #F5F5F5;
    margin-left: 14px;
    text-decoration: none;
  }

.logout {
    background-color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 7px 5px;
    height: 40px;
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: #555555;
    box-shadow: 2px 2px 2px #d1d1d1;
    outline: none;
    margin-right: 25px;
    cursor: pointer;
}

.sidebar-left{
    position:absolute;
    left:0; 
    top:102px; 
    width: 250px;
    padding: 0 20px;
    animation: 800ms ease-out 0s 1 slideInFromLeftAdm;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navAdmin {
  
  
  overflow-x: hidden;

  box-shadow: 10px 0px 25px rgba(0,0,0,.5);
  animation: 800ms ease-out 0s 1 slideInFromLeftAdm;
}

.sidebar-left .linear ::before {
  background-color: #fff !important;
}

.sidebar-left .makeStyles-root-1 {
  border: 1.5px solid #fff !important;
}

.sidebar-left .makeStyles-root-1:hover {
  color: #fff;
}

.mainAdmin{
    position: absolute;
    left:290px; 
    top:102px; 
    right:0;
    animation: 800ms ease-out 0s 1 slideInFromRightAdm;
    height: 100%;
}

.footer{
    clear:both;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

.addForm{
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
    margin: 50px 100px;
    box-shadow: 5px 5px 25px rgba(0,0,0,.5); 
    color: #555555;
    min-width: 350px;
}

 .addForm input, select, textarea{
    outline: none;
    padding: 7px;
    font-family: 'Courier New', Courier, monospace;
    color: #757575;
    font-size: 17px;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
}

input::placeholder {
  color: #757575;
  cursor: pointer;
}

.addForm span{
     padding-left: 10px;
     font-weight: bold;
}

.addForm h3{
    text-align:center;
}

.addForm form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width:100%;
}

.addForm input[type="number"] {
    width: 70px;
}

.addForm input[type="submit"] {
    border: 2px solid #bbbbbb;
    font-weight: bold;
    margin: auto;
    padding: 10px;
    color: #555555;
}


.wideRow, .addForm textarea {
    width: 100%;
}

.addFormTxtarea {
  max-width: 100%;
  margin: 0;
}

.row {
    display:flex;
    width:99%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.centerAdm { 
    text-align: center; 
    width:100%;
}

.questions{
    width: 70%;
    font-size: 20px;
}

.questionItem {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;
}

.quizLi {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 7px;
}

.getLinkBtn{

  width: 130px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
  color: #555555;
  outline: none;
  border: none;
  padding: 11px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  background-color: rgba(255,255,255,0.95);
  padding: 9px!important;
  /*  outline: none;
    padding: 10px;
    border: none;
    background: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5); */
}

.pointer {
    cursor: pointer;
}

.red{
    color: red;
}

.adminModalForm {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.adminModalForm input[type='text'] {
    outline: none;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 17px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.02);
    border: none;
    width: 100%;
}

.adminModalForm input[type='submit'] {
    outline: none;
    background: none;
    border: none;
    padding: 7px 20px;
    color: green;
    font-size: 15pt;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.02);
  }

  .createQuiz {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 7px 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    background-color:rgba(255,255,255,0.95);;
  }

.adminModalForm select {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    padding: 10px;
    text-align-last: center;
    background-color: rgba(0,0,0,.02);
}

.adminModalForm input[type="number"] {
    outline: none;
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    width: 100%;
    background-color: rgba(0,0,0,.02);
}

.createCancelDiv {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

@keyframes slideInFromLeftAdm {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRightAdm {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
  
@keyframes slideInFromAboveAdm {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    35% {
      opacity: 0.5;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.rotate-active {
    animation: spin 1s linear infinite;
}

.rotate-exit.rotate-exit-active{
    opacity:1;
}

.successAnim {
    animation: successAnim 800ms forwards;
}

@keyframes spin {
  100% {
    transform: rotatey(360deg);
  }
}

.settingsWrapper {
    margin-top: 3px;
    border: 1.5px solid white;
    border-radius: 5px;
}

.settingsButton {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1.5px solid #fff;
    border-radius: 5px;
    outline: none;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
    margin-top: 50px;
}

.settingsButton:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
}

.settingsContent {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 2px;
}

.themeSelect {
    background-color: transparent;
    width:100%;
    padding: 10px;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-align: center;
    text-align-last: center;
    font-style: normal !important;
    border: 1px solid white;
    border-radius: 3px;
    outline: none;
}

.themeSelect:hover {
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.settingsContent button {
    width: 100%;
    height: 48px;
    background-color: transparent;
    border: 1px solid white;
    text-shadow: none;
    border-radius: 3px;
    outline: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: normal;
    margin-top: 2px;
}

.filterDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

}
.filterForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* border: 1px solid red;
*/
}

.filterForm input[type='text'] {
  
    width: 50%;
    padding: 9px;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
    color: #757575;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    letter-spacing: 0.02857em;
    outline: none;
  
  
  /* outline: none;
  padding: 5px;
  border-radius: 7px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-size: 17px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
  border: none;
  width: 50%; */
}

.filterForm select {
  box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.filterBy{
  margin-bottom: 15px;
  font-size: 19px;
  font-weight: bold;

}

.settingsContent button:hover {
    font-weight: bold;
    color: #555555;
    cursor: pointer;
}

  .questionItem-exit-active {
      animation: questionItem 800ms;
  }
  
  .questionItem-enter-active {
      animation: questionItem 800ms ease-in alternate-reverse;
  }
  
  @keyframes questionItem {
    0% {
      opacity: 1;
    }
  
    30% {
      opacity: .7;
      transform: translateX(30px);
    }
  
    100% {
      opacity: 0;
      transform: translateX(-200px);
    }
  }

  .resetBtn:hover{
    cursor: pointer;
  }

  .resetBtn {
    font-style: normal!important;
    font-weight: bold;
    font-size: 22pt!important;
    background: none;
    margin-top: 3px;
    color: black;
  }
  .addFormHeader {
    padding: 5px;
    text-align: center;
    font-size: 23pt;
    font-weight: bold;
  }

  @keyframes successAnim {
 
    0% {
      opacity: .7;
      transform: scale(.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.quizesTableDiv {
    display: grid;
  }

.copyLink {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}
  
.linkToCopyInpt {
    border: none;
    color: transparent;
    /* z-index: 0; */
}

.quizTable, .linkToCopyInpt {
    grid-column: 1;
    grid-row: 1;
}

.quizTable { 
    width: 100%;
    border-collapse: collapse;
    padding: 10px; 
    text-align:center; 
    background-color: white;
    /* z-index: 1; */
    font-size: 15pt;
}

.quizTable td, th { 
    border:none;
    border-bottom: 1px solid #ccc; 
    vertical-align: 0rem;
    text-align:center; 
}

.quizTable  th { 
    padding: 15px;
}

.quizTable tr:first-child {
    /*background: #ccc;*/
    font-size: 19px; 
}

.quizTable tr:last-child td{
    vertical-align: bottom!important;
    /*background: #ccc;*/
    height: 50px;
    font-size: 17px; 
    font-weight: bold;
}

.tablePaging{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

hr {
  margin-bottom: 25px;
  border: 0.1px solid white;
}

button, input[type='submit'], input[type='button'] {
  cursor: pointer;
}