.header{
    position:absolute;
    left:0; 
    right:0;
    height: 92px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: 800ms ease-out 0s 1 slideInFromAboveAdm;

}

.themeSelect{
    width:200px;
    padding: 15px;
    font-size: 19px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    outline: none;

}




.logoAdmin {
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    text-shadow: 3px 3px 8px #000;
  }

.logout {
    background-color: white;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    padding: 7px 5px;
    width: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    outline: none;
    margin-right: 25px;
}

.sidebar-left{
    position:absolute;
    left:0; 
    top:92px; 
    bottom: 0;
    width: 250px;
    padding: 0 20px;
    animation: 800ms ease-out 0s 1 slideInFromLeftAdm;
    display: flex;
    flex-direction: column;
    

}

.mainAdmin{
    position: absolute;
    left:290px; 
    top:102px; 
    right:0;
    bottom:0;
    padding:50px;
    animation: 800ms ease-out 0s 1 slideInFromRightAdm;
}

.footer{
    clear:both;
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}

.sidebar-left, .mainAdmin{
    min-height: 800px;				
}



.addForm{

    display:flex;
    flex-direction: column;
    justify-content: center;
}
.row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

.row input, textarea {
    outline: none;
}

.questions{
    width: 70%;
    font-size: 20px;
}

.questionItem {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px;

}

.pointer {
    cursor: pointer;
}
.red{
    color:red
}

@keyframes slideInFromLeftAdm {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRightAdm {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes slideInFromAboveAdm {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    35% {
      opacity: 0.5;
      transform: translateY(-50%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.rotate-active{
animation: spin 1s linear infinite;
}

.rotate-exit.rotate-exit-active{
    opacity:1;
}
@keyframes spin {
  
    100% {
      transform: rotatey(360deg);
    }
  }
  
