.questions {
    width: 100%;
    font-size: 20px;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

.questionItem {
    display: flex;
    flex-direction: column;
    margin: 0 5px 5px 0;
    padding: 5px 15px;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
    background-color: #fff;
}

.questionItemLi {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.inputWrapper {
    display: flex;
    flex-grow: 2;
    align-items: center;
}

.questionItemInput {
    width: 90%;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: bold;
    color: #555555;
    margin-left: 10px;
    outline: none;
}

.tick {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

.answersWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
}