.changable-wrapper-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pageIntro-custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 50% !important;
    margin-top: -3%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

/* .MuiSvgIcon-root {
    position: relative !important;
    margin-bottom: 25px !important;
} */

