body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper div {
  width: 100%;
}

.img {
  object-fit: cover;
  width: 750px;
  height: 98vh;
  padding-right: 40px;
}

.changable-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.pageIntro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20%;
}

.logo {
  color: #555555;
  font-size: 70px;
  font-weight: bolder;
}

.slogan {
  color: #6f6e6e;
  font-size: 30px;
} 

.informativeDivision {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
  width: 50% !important;
}

.commonstyle {
  height: 40px;
  color: #555555;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  border: 1.5px solid  #bbbbbb;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  outline: none;
}

.commonstyle:hover {
  border-color: #7e57c2;
  color: #7e57c2;
  cursor: pointer;
}

::placeholder { 
  color: #555555;
}

.commonstyle:hover::placeholder { 
  color: #7e57c2;
}

/* .incorrectInput {
  height: 40px;
  color: #e60000;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  border: 1.5px solid  #e60000;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  outline: none;
} */

.popup-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
  background-color: #d9d2e9ff;
}

.MuiSvgIcon-root {
  margin-right: 10px;
  color: #bbbbbb;
  height: 40px !important;
}


.freeSpace {
  height: 17%;
}