body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f3f3f3;
  overflow-y:hidden;  
  overflow-x:hidden;

}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img {
  object-fit: cover;
  height: 98vh;
  width: 100%;
}

.changable-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
  border: 5px solid #E2DDEE;
  background-color: white;
}

.static-wrapper{
  background-color: #e2ddee;
  border: 5px solid #ffffff;

}
.pageIntro {
  display: flex;
  flex-direction: column;
}

.logo {
  color: #555555;
  font-size: 70px;
  font-weight: bolder;
}

.slogan {
  color: #6f6e6e;
  font-size: 30px;
} 

.informativeDivision {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}
.informativeDivision input
{
  height: 45px;
  color: #555555;
  font-size: 19px;
  letter-spacing: 0.02857em;
  font-family: 'Courier New', Courier, monospace;
  border: 1.5px solid  #bbbbbb;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  outline: none;
}
.incorrectInput {
  height: 45px!important;
  color: #4d3874!important;
  font-size: 19px!important;
  font-family: 'Courier New', Courier, monospace!important;
  border: 2px solid  #4d3874!important;
  border-radius: 5px!important;
  background-color: white!important;
  text-align: center!important;
  outline: none!important;
  font-weight: 800;
}
.error-message
{
  color:#4d3874;
  font-weight: 700;
}

.informativeDivision input:hover {
  border-color: #7e57c2;
  color: #7e57c2;
  cursor: pointer;
}

::placeholder { 
  color: #555555;
}

.informativeDivision input:hover::placeholder {
  color: #7e57c2;
}


.popup-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
  background-color: #e2ddee;
}

.MuiSvgIcon-root {
  margin-right: 10px;
  color: #bbbbbb;
}

.fromAbove{
  animation: fromAbove 1000ms; 
}

.fromBelow{
  animation: fromBelow 1000ms; 
}

.fromLeft{
  animation: fromLeft 1000ms; 
}

.fromRight{
  animation: fromRight 1000ms; 
}
.zoomOut{
  animation: zoomOut 1000ms;
}

@keyframes fromAbove{
  0%{ opacity: 0; transform: translateY(-50%);}
  100%{ opacity: 1; transform: translateY(0);}
}

@keyframes fromBelow{
  0%{ opacity: 0; transform: translateY(50%);}
  100%{ opacity: 1; transform: translateY(0);}
}

@keyframes fromLeft{
  0%{ opacity: 0; transform: translateX(-50%);}
  100%{ opacity: 1; transform: translateX(0);}
}

@keyframes fromRight{
  0%{ opacity: 0; transform: translateX(50%);}
  100%{ opacity: 1; transform: translateX(0);}
}

@keyframes zoomOut{
  0%{ opacity: 0; transform: scale(0);}
  100%{ opacity: 1; transform: scale(1);}
}




