.custom-select {
    border: 1.5px solid #bbbbbb;
    border-radius: 5px;
    height: 48px;
    color: #555555;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    letter-spacing: 0.02857em;
    outline: none;
<<<<<<< HEAD
    /* text-indent: 41%; */
=======
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center; 
>>>>>>> 9238b0d971922ec09a8bc6906449300bca62c7a1
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    text-align-last: center;
}

<<<<<<< HEAD
.custom-select > option {
    font-weight: bold;
}

.custom-select > option:disabled { 
  font-weight: normal;
}

/* .custom-select:nth-child(1) {
    text-indent: 38%;
} */

=======
>>>>>>> 9238b0d971922ec09a8bc6906449300bca62c7a1
.custom-select::-ms-expand {
    display: none;
}

.custom-select:hover {
    color: #7e57c2;
    border-color: #7e57c2;
    cursor: pointer;
}